html {
    display: flex;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Inter, Helvetica, sans-serif;
    background-color: #191A22;
    color: #e3eeff;
    background-image: radial-gradient(#000033, #222222);
    width: 100%;
}

h1 {
    font-size: 70pt;
    letter-spacing: 5px;
    border-style: solid;
    border-width: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 40px;
    background-color: rgb(82, 63, 117);
}

form {
    text-align: center;
    /* text-align: right; */
    /* display: grid; */
    /* grid-template-columns: repeat(3, 400px); */
    /* grid-auto-rows: 25px; */
}

button {
    font-size: 18pt;
    width: fit-content;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: black;
    border: 5px outset white;
    padding: 2px 8px 2px 6px;
}

input {
    height: 25px;
    border-radius: 13px;
    padding-left: 8px;
}

#output {
    width: 720px;
}

#gridContainer {
    text-align: right;
    display: grid;
    /* grid-template-columns: repeat(3, 400px); */
    /* display: flex; */
    grid-template-columns: 30vw 30vw 30vw;
    margin-left: -5%;
    /* grid-auto-rows: 25px; */
    line-height: 45px;
}

@media (max-width: 1250px) {
    #gridContainer {
        grid-template-columns: 45vw 45vw;
    }
}

@media (max-width: 850px) {
    #gridContainer {
        grid-template-columns: 85vw;
        margin-right: 25vw;
    }

    #output {
        width: 90vw;
    }
}